html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
  position: relative;
}

.center {
  width: 28px;
  position: absolute;
  left: calc(50% - 14px);
  top: calc(50% - 14px);
}

.hand {
  position: absolute;
  width: 14px;
  left: calc(50% - 7px);
}

.hand-hour {
  animation: rotate 6s linear infinite;
  transform-origin: bottom;
  top: 31%;
}

.hand-minute {
  animation: rotate .5s linear infinite;
  transform-origin: bottom;
  top: 21%;
}

@keyframes rotate {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
